#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  */
  text-align: center;
}

.password {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  height: 40px;
  border-radius: 50px;
}

.password input {
  border: none;
  outline: none;
  padding: 10px 10px;
  font-size: 16px;
  background: transparent;
}
